body, html {
   height: 100%;
   margin: 0;
   padding: 0;  
 } 
h1 {
   background-color: #333;
   color: white;
   padding: 10px;
   text-align: center;
   margin: 0;
}
textarea {
   height: 100%;
   width: 100%;   
   resize: none;
   margin: 0;
   padding: 0;
}
.app-container {   
   display: flex;
   flex: 1;
   flex-direction: column;   
   height: 100%;
   border: 3px solid;
}
.container{
   display: flex;         
   height: 100%;
}
.editor,
.preview{
   flex: 1;   
   border: 1px solid #ccc;
   padding: 10px;
   overflow: auto;   
}
.resize-handle {
   width: 10px;
   cursor:col-resize;
   background-color: #333;
}